body{
    height: 100%;
    width: 100%;
    margin: 0;
    }    
#contenedorPrincipal{
    
        margin-top: -10px;
}
#contenedorfer{
    background: #74278e;
    width: 100%;
    height: 550px;
}
#imgcelf{
    /*background-image: url(/home/alumna40/Escritorio/Proyecto-Lyft-Bravo/img/phone.png);*/
    margin-right: 100px;
    float: right;
}       
#imgf{
    width: 500px;
    
}
.letrasf{
    font-family: 'Didact Gothic', sans-serif;
    color: white;
}
.contieneparrafof{
    position: relative;
    margin: 10px;
    padding: 20px;
    left: 200px;
    width: 1000px;
}
.h3f{
    font-size: 1.60em;
    margin-bottom: 0;
    font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.pf{
    font-size: 1rem;
}
.parrafosf{
    margin-bottom: 1.5rem;
    margin-top: 1.5rem;
    margin-left: 1rem;
    margin-right: 1rem
    
}

/*inicio estilos sue e ilse*/
/* estilos navbar*/
.navBar {
  position: fixed;
  background-color: #333447;
  width: 100%;
  font-family: 'Didact Gothic', sans-serif;
}
/* estilos logo*/
.logo {
  position: relative;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 40px;
}
/*elementos del nav estilos*/
.lista {
  list-style: none;
}
.elementosUlTexto {
  color:white;
  font-size: 20px;
}
.elementosUl {
  display:inline-block;
  margin:17px;
}
.boton {
  border: 1px solid white;
  background-color: transparent;
  color:white;
  padding:10px 18px 10px 18px;
  border-radius: 8px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
}
/*hover sobre elementos del nav*/
.elementosUlTexto:hover {
  color:#ff00bf;
}
.elementosUl:hover {
  cursor:pointer;
}

.botonLog:hover {
  background-color: #999999;
  cursor:pointer;
}
/*boton oculto de sign in estilos*/
.botonSign {
  background-color: transparent;
  color:#ff00bf;
  border: 1px solid #ff00bf;
  visibility: hidden;
}
/*posiciones y margenes para acomodar nav a la izquierda*/
.positionNav {
  margin-left: 46%;
}
.marginExtra {
  margin-left:40px;

}
/*css nancy header*/
#sectionFormulario > img{
	display: inline-block;
	width: 100%;

}
.contenedorTexto{
	margin-top: 200px;
	height: auto;
	width: 50%;
	position: absolute;
	background-color: white;
	margin-left: 50%;	
}
#texto1{
	position: relative;
	margin-left: 60px;
	font-size: 40px;
	color: #352384;
}
#texto2{
	font-size: small;
	letter-spacing: 1.5px;
	position: relative;
	display: inline-block;
	margin-left: 60px;
	color: #352384;
}
#cel{
	position: relative;
	margin-bottom: 20px;
	border-bottom:solid black 1px;
	margin-left: 60px;
	width: 80%;
}
#numero{
	position: relative;
	border-color: #E60000;
	padding-top: 1.15rem;
    outline: none;
    border-width: 0;
	border-bottom: solid black 1px;
}
#btn_texto{
	display: inline-block;
	position: relative;
	width: 80%;
	height:auto;
	margin-left: 60px;
	border: solid 1px transparent;
}
#btnText{
	display: inline-block;
	font-weight: 400;
	font-size: 1rem;
	white-space: nowrap;
	cursor: pointer;
	border: .08333rem solid transparent;
	border-bottom: 5px;
	background-color:#ff00bf;
	color: white;
	border-radius: .5rem;
	line-height: 1.5;
	padding: .75rem 1.25rem;
}
#btnLink{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	padding: .75rem 1.25rem;
	font-size: 1rem;
	line-height: 1.5;
	text-decoration: underline;
	font-weight: 300;
	color: #728099;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0;
}
#btnLink:hover{
	color: #ff00bf;
}
.linea1{
	margin-left: 60px;
	font-size: .6rem;
	line-height: 1.5;
	color: #728099;
}
.linea1_a{
	color: #ff00bf;
	text-decoration: none;
	background-color: transparent;
	cursor: auto;
	font-size: .6rem;
}
/*fin del css nancy header*/