body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding:0;
    }
#contenedorPrincipal{
        margin-top: -10px;
}
#contenedorfer{
    background: #74278e;
    width: 100%;
    height: 550px;
}
#contenedorsecf{
	width: 100%
}
#imgcelf{
    /*background-image: url(/home/alumna40/Escritorio/Proyecto-Lyft-Bravo/img/phone.png);*/
    margin-right: 95px;
		margin-bottom: 20px;
    float: right;
}
#imgf{
    width: 500px;

}
.letrasf{
    font-family: 'Didact Gothic', sans-serif;
    color: white;
}
.contieneparrafof{
    position: relative;
	top: 40px;
    margin-left: 183px;
}
.h3f{
    font-size: 1.60em;
    margin-bottom: 0;
    font-family: Gotham SSm A,Gotham SSm B,HelveticaNeue,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
}
.pf{
    font-size: 1rem;
}
.parrafosf{
    position: relative;
    width: 100%;
}
/*css nancy header*/
#sectionFormulario > img{
	display: inline-block;
	width: 100%;
}
.contenedorTexto{
	margin-top: 200px;
	height: auto;
	width: 50%;
	position: absolute;
	background-color: white;
	margin-left: 50%;
}
#texto1{
	position: relative;
	margin-left: 60px;
	font-size: 40px;
	color: #352384;
}
#texto2{
	font-size: small;
	letter-spacing: 1.5px;
	position: relative;
	display: inline-block;
	margin-left: 60px;
	color: #352384;
}
#cel{
	position: relative;
	margin-bottom: 20px;
	border-bottom:solid black 1px;
	margin-left: 60px;
	width: 80%;
}
#numero{
	position: relative;
	border-color: #E60000;
	padding-top: 1.15rem;
    outline: none;
    border-width: 0;
	border-bottom: solid black 1px;
}
#btn_texto{
	display: inline-block;
	position: relative;
	width: 80%;
	height:auto;
	margin-left: 60px;
	border: solid 1px transparent;
}
#btnText{
	display: inline-block;
	font-weight: 400;
	margin-top: 10px;
	font-size: 1rem;
	white-space: nowrap;
	cursor: pointer;
	border: .08333rem solid transparent;
	border-bottom: 5px;
	background-color:#ff00bf;
	color: white;
	border-radius: .5rem;
	line-height: 1.5;
	padding: .75rem 1.25rem;
}
#btnLink{
	display: inline-block;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	cursor: pointer;
	padding: .75rem 1.25rem;
	font-size: 1rem;
	line-height: 1.5;
	text-decoration: underline;
	font-weight: 300;
	color: #728099;
	border-color: transparent;
	background-color: transparent;
	border-radius: 0;
}
#btnLink:hover{
	color: #ff00bf;
}
.linea1{
	margin-left: 60px;
	font-size: .6rem;
	line-height: 1.5;
	color: #728099;
}
.linea1_a{
	color: #ff00bf;
	text-decoration: none;
	background-color: transparent;
	cursor: auto;
	font-size: .6rem;
}
.datos{
	border-color: transparent;
	display: inline-block;
	position:relative;
	border-color: #E60000;
	padding-top: 1.15rem;
    outline: none;
    border-width: 0;
	border-bottom: solid black 1px;
	margin-left: 60px;
}
.fN{
	position: relative;
	border-color: #E60000;
	padding-top: 1.15rem;
    outline: none;
    border-width: 0;
}
.promo{
	margin-left: 10px;
	text-decoration: none;
	border-color: transparent;
	display: inline-block;
	position:relative;
	border-color: #E60000;
	padding-top: 1.15rem;
    outline: none;
    border-width: 0;
    margin-bottom: 25px;
}
.promo > a{
	color:#bfc7d9;
	font-size: 20px;

}
a:hover{
	color:#bc09a1;
}
#txtCheck{
	margin-left: 40px;
	display: inline-block;
}
#formularioDatos{
	display: none;
}
#linkTxt{
	color: #f23cef;
	text-decoration: none;
}
#linkTxt:hover{
	color: #960680;
	cursor: auto;
	text-decoration:underline;
}
#check{
	margin-left: 50px;
	width: 30px;
}
input{
	width: 200px;

}
input::-webkit-input-placeholder {
  color: #bfc7d9;
  font-size: 20px;
  margin-bottom: 5px;
}
/*fin del css nancy header*/

/*inicio estilos sue e ilse*/
/* estilos navbar*/
.navBar {
  position: fixed;
  background:linear-gradient(#333447,transparent);
  width: 100%;
  font-family: 'Didact Gothic', sans-serif;
  z-index:1;
}
/* estilos logo*/
.logo {
  position: relative;
  top: 10px;
  left: 10px;
  width: 65px;
  height: 40px;
}
/*elementos del nav estilos*/
.lista {
  list-style: none;
}
.elementosUlTexto {
  color:white;
  font-size: 20px;
}
.elementosUl {
  display:inline-block;
  margin:17px;
}
.boton {
  border: 1px solid white;
  background-color: transparent;
  color:white;
  padding:10px 18px 10px 18px;
  border-radius: 8px;
  font-family: 'Didact Gothic', sans-serif;
  font-size: 20px;
}
/*hover sobre elementos del nav*/
.elementosUlTexto:hover {
  color:#ff00bf !important;
}
.elementosUl:hover {
  cursor:pointer;
}

.botonLog:hover {
  background-color: #999999 !important;
  cursor:pointer;

}
/*boton oculto de sign in estilos*/
.botonSign {
  background-color: transparent;
  color:#ff00bf;
  border: 1px solid #ff00bf;
  visibility: hidden;
}
/*posiciones y margenes para acomodar nav a la izquierda*/
.positionNav {
  margin-left: 46%;
}
.marginExtra {
  margin-left:40px;

}

/*seccion andy*/
.seccion-body{
  display: block;
}
.notas{
  display: block;
}
.text-video{
  display: block;
}
section{
  display: flex;
}
.texto{
  margin-top: 50px;
  margin-left: 40px;
  margin-right: 40px;
  font-family: 'Didact Gothic', sans-serif;
  color: #333447 ;
  line-height: 1.5;
  font-weight: 300;
  font-size: 19px;
}
.titulito{
 font-size: 14px;
 margin-bottom: -25px;
 font-family: Helvetica;
 font-weight: 700;
}
.titulo{
 font-weight: 700;
 font-size: 33px;
 margin-bottom: 18px;
 font-family: Helvetica;
}
.notas{
 font-family: 'Didact Gothic', sans-serif;
 color: #333447 ;
 line-height: 1.5;
 font-weight: 300;
 font-size: 19px;
}
.video{
  margin-top:-3.5px;
}
iframe{
    display: none;
}
#clickimagen{
	  position: absolute;
    margin-top: 0%;
    margin-top: 250px;
    margin-left: 460px;
}
#clickimagenB{
	  position: absolute;
    margin-top: 0%;
    margin-top: 250px;
    margin-left: 460px;
}
#clickimagenC{
	  position: absolute;
    margin-top:0px;
    margin-top: 250px;
    margin-left: 460px;
}
/*seccion andy*/

/*Seccion Notas*/
.notas{
  font-family: 'Didact Gothic', sans-serif;
  color: #333447;
  line-height: 1.5;
  font-weight: 300;
  font-size: 19px;
  display: flex;
  text-align: justify;
}

.titulito{
  font-size: 14px;
  margin-bottom: -25px;
  font-family: Helvetica;
  font-weight: 700;
}

.titulo{
  font-weight: 700;
  font-size: 33px;
  margin-bottom: 18px;
  font-family: Helvetica;
}

.product{
  margin-left: 90px;
}

.col{
  padding: 0px 81px 20px 0px;
}

.btnD{
  font-family: 'Didact Gothic', sans-serif;
  padding: 10px 20px;
  font-size: 20px;
  margin-top: 10px;
  border-radius: 15px;
  border: 1px solid #000;
  background: transparent;
}

.btnD:hover{
  background-color: #f1f1f1;
  touch-action: manipulation;
  cursor: pointer;
}

.imaD{
  margin-top: 10px;
  width: 100%;
}

.imaD > img {
  width: 100%;
}

/*aqui termina mi seccion Daff*/
/*footer Nash y Ross*/
footer{
	background-color: #333447;
	color: #f3f3f5;
	font-family: 'Didact Gothic', sans-serif;
  	margin: -4px;
	width: 100%;
	height: 100%;
}
.contenedorNr1{
	position: relative;
	width: 100%;
	height: 100%;
}
.listaLinks1{
	display: inline-block;
	line-height: 1.5;
}
.listaLinks1 ul{
	list-style: none;
	line-height: 2;
}
.listaLinks2{
	display: inline-block;
	position: absolute;
	line-height: 2;
}
.listaLinks2 ul{
	list-style: none;
}
.listaLinks3{
	display: inline-block;
	position: absolute;
	margin-left: 20%;
	line-height: 2;
}
.listaLinks3 ul{
	list-style: none;
}
.imagenes{
	display: inline-block;
	position: absolute;
	margin-left: 50%;
}
.imagenes ul{
	list-style: none;
}
li h4{
	color: #bfc7d9;
}
.img{
  	position: relative;
	width: 200px;
 	height: 60px;
  	padding: 5px;
  	left: 180px;
}
.aFooter:link{
    text-decoration: none;
	color: #fff;
}
.aFooter:visited{
    text-decoration: none;
    color: #fff;
}
.aFooter:hover{
   	color: magenta;
    text-decoration: underline;
}
.redesSociales ul{
	list-style: none;
}
.redeSociales{
	position: relative;
	bottom: 10px;
	text-align: center;
}
.redeS{
	display: inline-block;
	margin-left: 20px;
}
.reds{
	position: relative;
	display: inline-block;
	left: 530px;
	width: 40px;
}
.derechos ul{
	list-style: none;
}
.lineA{
	width: 400px;
	color: white;
}
.derechos{
	position: relative;
	bottom: 10px;
	text-align: center;
}
.derechoS{
	display: inline-block;
}


/*Aqui termina footer*/
